* {
    color: #1E0E62;
    font-family: DM Sans;
    font-size: 24px;
}

header {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

h1 {
    font-size: 1.12em;
    display: inline-block;
    margin-left: 10%
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-left: 5%;
}

p {
    font-size: 0.67em;
    display: inline-block;
}

.picture {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 20%;
    width: 7%;
}

figure {
    margin: 0;
}